body {
  font-family: sans-serif;
  margin: 40px;
}

#scrolly {
  display: flex;
  gap: 40px;
}

article {
  width: 35%;
}

figure {
  position: sticky;
  top: 20px;
  height: 500px;
}

.step {
  min-height: 100vh;   /* 👈 OBLIGATORI */
  margin-bottom: 0;
  padding: 40px 20px;
  border-left: 4px solid #ccc;
  font-size: 18px;
  display: flex;
  align-items: center;
}

svg {
  background: #fafafa;
}
